@font-face {
    font-family: 'multicolore';
    src: url('../font/multicolore.eot');
    src: url('../font/multicolore.woff') format('woff'),
         url('../font/multicolore.ttf') format('truetype');
}
div, p, img {
	outline: none;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.float-right {
	float: right;
}
.float-left {
	float: left;
}
.width1-3 {
	width: 31%;
	display: inline-block;
	height: 444px;
	position: relative;
}
.width1-2 {
	width: 49%;
	display: inline-block;
	vertical-align: middle;
}
.pad-20 {
	padding-top: 20px;
	padding-bottom: 20px;
}
.pad-30 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.pad-40 {
	padding-top: 40px;
	padding-bottom: 40px;
}
.mobile-home-content {
	display: none;
}
.tablet {
	display: none;
}
.home {
	position: absolute;
	height: 100%;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	background-image:radial-gradient(50% 122%, #f8f8f8 22%, #ededed 100%);
}
.brand-identity {
	text-align: center;
	width: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transition: top 1.2s ease;
    -moz-transition: top 1.2s ease;
    -o-transition: top 1.2s ease;
    transition: top 1.2s ease;
}
.brand-identity-container {
	width: 40%;
	margin-right: auto;
	margin-left: auto;
}
.brand-identity-container img {
	width: 33%;
	min-width: 180px;
}
.home-content {
	position: absolute;
    top: 88%;
    width: 100%;
    text-align: center;
    line-height: 0.7;
    -webkit-transition: top 1.2s ease;
    -moz-transition: top 1.2s ease;
    -o-transition: top 1.2s ease;
    transition: top 1.2s ease;
}
p.tag-line {
	font-size: 28px;
	margin-top: 28px;
	margin-bottom: 28px;
}
div {
	font-family: 'Quicksand', 'Arial';
	color: #232323;
	font-size: 1.75vw;
}
h1.highlight {
	
}
h1 {
	font-family: 'multicolore';
	font-size: 32px;
	display: inline-block;
	font-size: 2vw;
	color: #232323;
	padding-bottom: 7px;
	border-bottom: 5px solid transparent;
}
a {
	font-family: 'Quicksand', 'Arial';
	font-size: 28px;
	color: #c5c5c5;
	font-size: 1.75vw;
	text-decoration: none;
}
a:hover, a.selected {
	color: #232323;
}
a.selected h1 {
	font-size: 42px;
	color: #232323;
	font-size: 2.625vw;
	border-bottom: 5px solid transparent;
/*	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;*/
	-webkit-border-image: url(../images/hover-line.png) 9 stretch; /* Safari 3.1-5 */
    -o-border-image: url(../images/hover-line.png) 9 stretch; /* Opera 11-12.1 */
    border-image: url(../images/hover-line.png) 9 stretch;
}
.statement {
	padding-bottom: 20px;
}
.tilt-up {
	transform: rotate(-1deg);
	display: inline-block;
}
.tilt-up.bengaluru {
	position: relative;
    top: 7px;
}
.tilt-down.product {
	position: relative;
    top: -8px;
}
.statement.four {
	position: absolute;
    left: 8%;
    transform: rotate(-1deg);
}

.tilt-down {
	transform: rotate(1deg);
	display: inline-block;
}
.animate {
	-webkit-transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    transition: all 1.2s ease;
	position: absolute;
	top: 38%;
}

.brand-anime {
	position: absolute;
	top: -260px;
	-webkit-transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    transition: all 1.2s ease;
}

.work {
	width: 100%;
}
.work .work-statement {
	transform: rotate(-1deg);
	top: 40%;
}
/*.work .works {
	height: 444px;
	width: 100%;
	background: red;
	margin-top: 30px;
	margin-bottom: 30px;
	position: relative ;
	top: 600px;
}*/
.client-image-circle {
	padding-top: 10px;
}
.work .filters {
	text-align: center;
}
.work .filters div {
	display: inline-block;
	background:#ececec;
	border:1px solid #3d3d3d;
	border-radius:4px;
	width:172px;
	padding-top: 13px;
	padding-bottom: 13px;
	color: #3d3d3d;
	font-family: 'Quicksand', 'Arial';
	font-size:24px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}
.work .filters div a {
	color: #3d3d3d;
}
.work .filters div:hover, .work .filters div a:hover, .work .filters div:hover a, .selected-filter, .selected-filter a {
	background:#3d3d3d !important;
	color: #ffffff !important;
}
.work .works {
	
}
.work .work1 {
	width: 100%;
	background-image: linear-gradient(230deg, #42AF9D 0%, #9CD2A4 100%);
	height:444px;
	margin-top: 60px;
	margin-bottom: 60px;
}
.work .work1.paysay, .work .work1.paysay .work-back {
	background: url("../images/work/paysay-back.jpg");
	overflow: hidden;
}
.work .work1.furnspace, .work .work1.furnspace .work-back {
	background: url("../images/work/furnspace-back.jpg");
	overflow: hidden;
}
.work .work1.printo {
	background: url("../images/work/printo-front.jpg");
	overflow: hidden;
}
.work .work1.printo .work-back {
	background: url("../images/work/printo-back.jpg");
	overflow: hidden;
}
.printo h1, .printo h2 {
	color: #fff !important;
}
.work .work1.paysay .paysay2-image {
	position: relative;
    bottom: -20px;
}
.work .work1 .right-left-work, .work .work1 .right-left-work1, .work .work1 .right-left-work2, .work .work1 .right-left-work3 {
	position: absolute;
	width: 100%;
}
.work .work1 .left-navigation {
	position: absolute;
	right: 0;
}
.work .work-back {
	width: 100%;
	height: 444px;
	background-image: linear-gradient(230deg, #42AF9D 0%, #9CD2A4 100%);
}
.work .work-back .work1-tagline, .work .work-back .strategy, .work .work-back .timeline-learnings {
	position: absolute;
	width: 100%;
}
.work .work-back .client-comment {
	font-family: 'Quicksand', 'Arial';
	font-size:18px;
	color:#ffffff;
	letter-spacing:0px;
	text-align:center;
	padding: 20px;
}

.work .work-back .work-tag div {
	display: inline-block;
	margin: 5px;
}
.work .printo .work-back .work-tag div {
	margin: 5px;
}
.work .printo h2.printo-heading {
	font-weight: bold;
	font-size: 26px;
}
.work .work-back .work-tag div p {
	padding: 10px 10px;
	background: #3d3d3d;
	font-family: 'Quicksand', 'Arial';
	font-size:20px;
	color:#ffffff;
	letter-spacing:0px;
	border-radius: 4px;
}
.work .work-back .client-image-circle img {
	border: 4px solid #ffffff;
	border-radius: 100%;
	margin: auto;
}
.work .work-back h3.client-name {
	font-family: 'Quicksand', 'Arial';
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	letter-spacing:0px;
	text-align:center;
}
.work .work-back .strategy {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
}
.work .furnspace .work-back .strategy {
	padding-top: 55px;
}
.work .printo .work-back .strategy {
	padding-top: 90px;
}
.work .work-back .strategy img.approach {
	width: 283px;
	margin: auto;
}
.work .work-back .timeline-learnings .timeline {
	padding: 20px 10px 20px 40px;
}
.work .work-back .timeline-learnings .timeline .tinkerability {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background: #3d3d3d;
	font-family: 'Quicksand', 'Arial';
	font-size:18px;
	color:#ffffff;
	text-align:center;
	display: inline-block;
	margin-right: 10px;
	background: url("../images/work/tinkerability.png");
}
.work .work-back .timeline-learnings .timeline .tinkerability p {
	position: relative;
	top: 57px;
}
.work .work-back .timeline-learnings .timeline .weeks {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background: #3d3d3d;
	font-family: 'Quicksand', 'Arial';
	font-size:18px;
	color:#ffffff;
	text-align:center;
	display: inline-block;
	position: relative;
	top: 14px;
	background: url("../images/work/weeks.png");
}
.work .work-back .timeline-learnings .timeline .weeks p {
	position: relative;
	top: 47px;
}
.work .work-back .timeline-learnings .timeline {
	width: 82%;
}
.work .work-back .timeline-learnings .learnings {
	text-align: center;
	width: 82%;
	padding-top: 40px;
}
.work .work-back .timeline-learnings .learnings h4 {
	font-family: 'Quicksand', 'Arial';
	font-size:20px;
	font-weight: bold;
	color:#ffffff;
	text-align: center;
}
.work .work-back .timeline-learnings .learnings p {
	font-family: 'Quicksand', 'Arial';
	font-size:18px;
	color:#ffffff;
	text-align:center;
}


.work .work1 .slick-next {
	right: 60px;
}
.work .work1 .work-front {
	width: 100%;
	height: 100%;
/*	position: absolute;*/
}
.work .work1 .vertical-line {
  	height: 100%;
  	display: inline-block;
	z-index: 4;
	position: relative;
}
.work .work1 .action-icons {
	display: inline-block;
	z-index: 4;
	position: relative;
    top: -100px;
    right: 39px;
}
.work .work1 .action-icons div {
	margin-bottom: 55px;
	text-align: center;
	border-radius: 50%;
	background: #ececec;
	cursor: pointer;
}
.work .work1 .action-icons div:nth-child(2) {
	width: 62px;
	height: 62px;
	border: 1px solid;
}
.work .work1 .action-icons div:nth-child(2) svg {
	padding-top: 16px;
}
.work .work1 .action-icons div:nth-child(2) a.work-slide-back svg {
	padding-top: 14px;
	padding-left: 2px;
}
.work .work1 .action-icons div:nth-child(2) a.work-slide-back1 svg {
	padding-top: 14px;
	padding-left: 2px;
}
.work .work1 .action-icons div:nth-child(2) a.work-slide-back2 svg {
	padding-top: 14px;
	padding-left: 2px;
}
.work .work1 .action-icons div:nth-child(2) a.work-slide-back3 svg {
	padding-top: 14px;
	padding-left: 2px;
}
.work .work1 .action-icons div:hover svg g, .work .work1 .action-icons div svg:hover g {
	fill: #ececec;
}
.work .work1 .action-icons div:hover:nth-child(2) {
	background: #535353;
	border: 1px solid #ececec;
}
.work .work1 .action-icons div:hover:nth-child(3), .work .work1 .action-icons div:hover:first-child {
	background: #535353;
}
.work .work1 .action-icons div:nth-child(3), .work .work1 .action-icons div:first-child {
	width: 46px;
	height: 46px;
	margin-left: 8px;
}
.work .work1 .action-icons div:nth-child(3) svg {
	padding-top: 10px;
}
.work .work1 .action-icons div:first-child svg {
	padding-top: 11px;
}
.work .work1 .work1-tagline {
	text-align: center;
/*	padding-right: 10px;*/
	padding-left: 20px;
}
.work .work1 .work1-tagline.kruzr-tag {
	padding-top: 20px;
}
.work .work1.paysay .work1-tagline.paysay-tag {
	padding-top: 80px;
}
.work .work1.furnspace .work1-tagline.furnspace-tag {
	padding-top: 80px;
}
.work .work1.printo .work1-tagline {
	padding-top: 40px;
	padding-bottom: 20px;
/*	padding-right: 10px;
*/	padding-left: 20px;
}
.work .work1 .work1-tagline img.logo {
	padding-top: 20px;
	padding-bottom: 5px;
	width: 160px;
	margin: auto;
}
.work .work1 .work1-tagline h2 {
	font-family: 'Quicksand', 'Arial';
	font-size:28px;
	color:#414443;
	display: block;
	margin-bottom: 15px;
}
.work .work1 .work-content {
	width: 74%;
	margin: 43px auto 0 auto;
}
.work .work1.printo .work-content {
	margin: 85px auto 0 auto;
}
.work .work1 .work-content img {
	width: 179px;
	margin: auto;
}
.work .work1 .work-content div {
	width: 32%;
	display: inline-block;
	text-align: center;
}
.work .work1.printo .work-content div {
	width: 24%;
	display: inline-block;
	text-align: center;
}
.work .work1.printo .work-content img {
	width: auto;
	margin: auto;
}
.work .work1.furnspace .work-content div {
	width: 48%;
	display: inline-block;
	text-align: center;
}
.work .work1.furnspace .work-content img {
	width: 179px;
	margin: auto;
}
.work .work1.furnspace .work-content img.furnspace-one {
	width: 552px;
	margin: auto;
}

.paysay-content {
    margin: -33px auto 0px auto !important;
}
.furnspace-content {
    margin: 49px auto 0px auto !important;
}

a.work-slide-back, a.work-slide-back1, a.work-slide-back2, a.work-slide-back3 {
	display: none;
}



.menu-bar {
	height: 100%;
	width: 0;
	position: fixed; /* Stay in place */
    z-index: 6; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s;
}
.menu-bar a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
.menu-item {
	position: relative;
	top: 40%;
	transform: translateY(-50%);
	width: 320px;
}
.menu-item a h1 {
	color: #dfdfdf;
}
.closebtn {
	position: absolute;
	left: 20px;
	top: 20px;
	cursor: pointer;
	padding: 0;
}
#header {
	padding: 30px 30px 30px 30px;
	position: relative;
}
.header-logo {
	padding-right: 30px;
}
.header-logo, .work-statement, .hamburger, .about-statement {
	display: inline-block;
}
.work-statement, .hamburger , .about-statement {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.hamburger {
	right: 30px;
}

.about-tabs {
	width: 100%;
/*	margin: auto;
	max-width: 900px;*/
}
.sentence-about {
	top: 45%;
	transform: rotate(1deg);
	word-spacing: 2px;
}
.about-tabs > div {
	background: #474747;
	color: #fff;
	text-align: center;
	top: 300px;
/*	max-width: 811px;*/
}
.about-tabs ul {
	padding-right: 10%;
	padding-left: 10%;
}
.about-tabs ul li {
	display: inline-block;
	text-align: center;
	width: 24%;
	height: 100px;
	vertical-align: middle;	
}
.about-tabs ul li img {
	height: 40px;
}
.about-tabs ul li:hover img, .about-tabs ul li.active img {
	height: 46px;
}
.tab-body h2 {
	font-family: 'Quicksand', 'Arial';
	font-size:42px;
	color:#ffffff;
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 20px;
}
.tab-body span {
	background: url("../images/horizontal-line.png");
	width:200px;
	height:2px;
	display: block;
	margin: auto;
}
.tab-body p {
	padding-top: 5px;
	padding-bottom: 10px;
	font-size: 28px;
	width: 87%;
	margin: auto;
}

div.back1, div.back2 {
	position: absolute;
}
div.back2 {
	right: 0;
}
div.philosophy-bottom, div.approach-bottom {
	padding: 120px 0 54px 0;
}
div.philosophy-bottom img.image1 {
	position: absolute;
}
div .approach-body {
	position: relative;
	margin-top: 25px;
	margin-bottom: 25px;
}
div.approach-body img:first-child {
	position: relative;
/*    right: 37px;*/
}
div.approach-body img:nth-child(2) {
	position: absolute;
    top: 47px;
    right: 153px;
}
.offering1, .offering2, .offering3, .offering4 {
    margin-top: 20px;
    margin-bottom: 60px;
    position: relative;
}
.offering1 .black-back, .offering2 .black-back, .offering3 .black-back, .offering4 .black-back {
    position: relative;
    right: 37px;
}
.offering1 p, .offering2 p, .offering3 p, .offering4 p {
	font-size: 24px;
	color: #fff;
}
.offering1 p.dim-heading, .offering2 p.dim-heading, .offering3 p.dim-heading, .offering4 p.dim-heading {
	padding-top: 10px;
}
.offering-content1 {
	position: absolute;
	top: 28px;
}
.offering-content2 {
	position: absolute;
	top: 10px;
}
.offering-content3 {
	position: absolute;
	top: 10px;
}
.offering-content4 {
	position: absolute;
	top: 17px;
}
div.offering-bottom {
	padding: 20px 0 54px 0;
}
p.dim-heading {
	font-family: 'Quicksand', 'Arial';
	font-size:28px;
	color:#848484;
	padding-bottom: 0px;
	padding-top: 50px;
}

p.dashline {
	padding-bottom: 20px ;
}
@media only screen and (max-width: 1200px) {
.brand-identity-container {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
.brand-identity-container img {
	width: 200px;
	min-width: 200px;
}
	.home-content-tablet {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}
	.home-content-tablet img { 
		width: 80px;
		padding-top: 50px;
	}
	.statement {
		font-size: 26px;
		color: #232323;
		line-height: 4;
	}
	h1 {
		font-size: 34px;
		padding-bottom: 0;
		line-height: 1;
		color: #232323;
		border-bottom: 5px solid transparent;
	    -webkit-border-image: url(../images/hover-line.png) 9 stretch; /* Safari 3.1-5 */
        -o-border-image: url(../images/hover-line.png) 9 stretch; /* Opera 11-12.1 */
        border-image: url(../images/hover-line.png) 9 stretch;
	}
	a:active {
		text-decoration: none;
		background: none;
	}
	.laptop {
		display: none;
	}
	.tablet {
		display: block;
	}
	.animate {
		-webkit-transition: all 1.2s ease;
	    -moz-transition: all 1.2s ease;
	    -o-transition: all 1.2s ease;
	    transition: all 1.2s ease;
		position: relative;
		top: 10%;
	}

}
@media only screen and (max-width: 991px) {
	.home-content-tablet {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}
	.home-content-tablet img { 
		width: 80px;
		padding-top: 40px;
	}
	.statement {
		font-size: 26px;
		color: #232323;
		line-height: 4;
	}
	h1 {
		font-size: 34px;
		padding-bottom: 0;
		line-height: 1;
		color: #232323;
		border-bottom: 5px solid transparent;
	    -webkit-border-image: url(../images/hover-line.png) 9 stretch; /* Safari 3.1-5 */
        -o-border-image: url(../images/hover-line.png) 9 stretch; /* Opera 11-12.1 */
        border-image: url(../images/hover-line.png) 9 stretch;
	}
	a:active {
		text-decoration: none;
		background: none;
	}
	.laptop {
		display: none;
	}
	.tablet {
		display: block;
	}
	.animate {
		-webkit-transition: all 1.2s ease;
	    -moz-transition: all 1.2s ease;
	    -o-transition: all 1.2s ease;
	    transition: all 1.2s ease;
		position: relative;
		top: 10%;
	}
}
@media only screen and (max-width: 430px) {
	.brand-identity {

	}
	.brand-identity-container {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}
	.brand-identity-container img {
		min-width: 160px;
	}
	p.tag-line {
		font-size: 24px;
	}
	.home-content{
		display: none;
	}
	.mobile-home-content {
		display: block;
	}
	.mobile-home-content h1 {
		font-family: 'multicolore';
		font-size: 22px;
		color: #232323;
		padding-bottom: 2px;
		border-bottom: 5px solid transparent;
		display: inline-block;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.mobile-home-content h1.highlighted {
		border-bottom: 5px solid transparent;
	    -webkit-border-image: url(../images/hover-line.png) 9 stretch; /* Safari 3.1-5 */
        -o-border-image: url(../images/hover-line.png) 9 stretch; /* Opera 11-12.1 */
        border-image: url(../images/hover-line.png) 9 stretch;
    }
	
}